.container-fluid {
	/*background: lightgrey;*/
    width: 100vh;
    height: 70vh;
    margin-top: 150px;
}

div {
	width: 100%
	height:100%;
}
/*.up-row {
	height: 80vh;
}

.in-house-content {
	background: green;
}

.awst-clock {
	height: 20%;
    background: lightblue;
}

.solar-production {
	height: 80%;
}

.weather {
	height: 20vh;
}*/

.highcharts-legend-item .highcharts-point,
.highcharts-legend-item .highcharts-graph {
  display: none
}